/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
********** ESTILOS GENERALES DE LA PAGINA
Selectores CSS Clase: .nombre clase html tag: tag id: #nombre id
*/
*{
    color:black;
    font-size: 16px;
}
h1,h2{
    color: #b3d4fc;
}
h1{
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}
p{
    text-align: justify;

}

table{
    width:100%;
    border-width:5px;
    border-style: groove;
    border-color:bisque;
}

#tablaseries caption{

    visibility:hidden;
}
#tablaseries caption:hover{
    visibility:visible;
}



table th, table tr, table td{
    border-width:1px;
    border-style: solid;
    border-color: black;
}

table tfoot tr{
    border-width:3px ;
    border-style: solid;
    border-color: black;
}

table tfoot td{
    border: none;
}

.lft{
    float: left;
}
/* MAQUETAR TABLA SERIES */
a{
    color:black;
    text-decoration: none;
}

/* MAQUETACION DE LAYOUT */
#wrapper{
    position:relative;
    top:40px;

}
nav{
    position: fixed;
    top:0px;
    height: 40px;
    z-index: 8000;
    width:100%;
    background: #299a0b; /* Old browsers */
    background: -moz-linear-gradient(left, #299a0b 59%, #299a0b 59%, #56ce10 83%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #299a0b 59%,#299a0b 59%,#56ce10 83%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #299a0b 59%,#299a0b 59%,#56ce10 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#56ce10',GradientType=1 ); /* IE6-9 */

}

/* MAQUETACION DE MENU */
nav ul{

    margin:0 auto;
    width:800px;
}
nav ul li{
    float:left; /** flotan */
    width:150px; /* ancho para cada uno */
    text-align: center; /* Texto centrado */
    list-style: none; /* le quitamis el disc de la lista */
    background-color: #cccccc;
    border-style: solid;
    border-width:1px;
    border-color: white;
    text-decoration:none;
    border:1px  solid white; /* lo mismo que lo de arriba en una sola sentencia */
    transition: background-color 3s;
    padding: 5px;

}
/* selector cuando se activa cuando se pasa con el raton */
nav ul li:hover{
   background-color: #555555;
}

/* MAQUETACION DE SECCIONES */
article{
    float: left;
    box-sizing: border-box;
    width: calc((100%)/3);
    border-style: solid;
    border-color: #b3d4fc;
    border-width: thin;
    padding: 20px;
}

#ejer1 article > .bloque{
    float: left;
    width:50%;
    box-sizing: border-box;
    height:100px;
    background-color:red;

}

section:nth-child(odd)
{
    background-color: beige;
}
section:nth-child(even)
{
    background-color: #cccccc;
}

button{
    height: 25px;
    margin-top: calc(100px - 25px - 25px);
    border-radius: 10px;
}

#ejer1 article > div:last-child{
    height:25px;
}
.texto{
    height:25px;
}


.flex-container{
    display:flex;
    flex-direction: column;
}

main section:last-child{
    flex-wrap: wrap;
    justify-content: center;

}
main section:last-child > div{
    flex-wrap: wrap;
    flex-direction: row;

}

main section:last-child article{

    flex-direction:column;



}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
